In [1]:
from IPython.display import HTML,display
display(HTML("<style>.container {width: 100% !important}</style>"))

In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df_main = pd.read_excel('Datasets/fact (1).xlsx')
df_main

,OrderNumber,Sales Channel,WarehouseCode,OrderDate,_SalesTeamID,_CustomerID,_StoreID,_ProductID,Order Quantity,Discount Applied,Unit Price,Unit Cost
0,SO - 000101,In-Store,WARE-UHY1004,2018-05-31,6,15,259,12,5,0.075,1963.1,1001.181
1,SO - 000102,Online,WARE-NMK1003,2018-05-31,14,20,196,27,3,0.075,3939.6,3348.660
2,SO - 000103,Distributor,WARE-UHY1004,2018-05-31,21,16,213,16,1,0.050,1775.5,781.220
3,SO - 000104,Wholesale,WARE-NMK1003,2018-05-31,28,48,107,23,8,0.075,2324.9,1464.687
4,SO - 000105,Distributor,WARE-NMK1003,2018-05-31,22,49,111,26,8,0.100,1822.4,1476.144
...,...,...,...,...,...,...,...,...,...,...,...,...
7986,SO - 0008087,In-Store,WARE-MKL1006,2020-12-30,9,41,339,29,1,0.075,234.5,121.940
7987,SO - 0008088,Online,WARE-NMK1003,2020-12-30,14,29,202,3,6,0.050,3202.6,1921.560
7988,SO - 0008089,Online,WARE-UHY1004,2020-12-30,14,32,241,35,5,0.200,3825.7,2792.761
7989,SO - 0008090,Online,WARE-NMK1003,2020-12-30,20,42,112,36,8,0.100,1072.0,804.000
7990,SO - 0008091,In-Store,WARE-UHY1004,2020-12-30,6,41,237,43,5,0.075,2211.0,1370.820

In [4]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7991 entries, 0 to 7990
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   OrderNumber       7991 non-null   object
 1   Sales Channel     7991 non-null   object
 2   WarehouseCode     7991 non-null   object
 3   OrderDate         7991 non-null   datetime64[ns]
 4   _SalesTeamID      7991 non-null   int64
 5   _CustomerID       7991 non-null   int64
 6   _StoreID          7991 non-null   int64
 7   _ProductID        7991 non-null   int64
 8   Order Quantity    7991 non-null   int64
 9   Discount Applied  7991 non-null   float64
 10  Unit Price        7991 non-null   float64
 11  Unit Cost         7991 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(5), object(3)
memory usage: 749.3+ KB

In [5]:
df_main = df_main.drop(columns='WarehouseCode')

In [6]:
df_main.shape

(7991, 11)

In [7]:
df_main.duplicated().sum()

0

In [8]:
df_main.isna().sum()

OrderNumber         0
Sales Channel       0
OrderDate           0
_SalesTeamID        0
_CustomerID         0
_StoreID            0
_ProductID          0
Order Quantity      0
Discount Applied    0
Unit Price          0
Unit Cost           0
dtype: int64

In [9]:
df_main.isnull().sum()

OrderNumber         0
Sales Channel       0
OrderDate           0
_SalesTeamID        0
_CustomerID         0
_StoreID            0
_ProductID          0
Order Quantity      0
Discount Applied    0
Unit Price          0
Unit Cost           0
dtype: int64

In [10]:
df_main[['Unit Price','Unit Cost','Discount Applied']].describe()

        Unit Price    Unit Cost  Discount Applied
count  7991.000000  7991.000000       7991.000000
mean   2284.536504  1431.911054          0.114394
std    1673.096364  1112.413043          0.085570
min     167.500000    68.675000          0.050000
25%    1031.800000   606.115500          0.050000
50%    1849.200000  1080.576000          0.075000
75%    3611.300000  2040.250500          0.150000
max    6566.000000  5498.556000          0.400000

In [11]:
df_main.head()

,OrderNumber,Sales Channel,OrderDate,_SalesTeamID,_CustomerID,_StoreID,_ProductID,Order Quantity,Discount Applied,Unit Price,Unit Cost
0,SO - 000101,In-Store,2018-05-31,6,15,259,12,5,0.075,1963.1,1001.181
1,SO - 000102,Online,2018-05-31,14,20,196,27,3,0.075,3939.6,3348.660
2,SO - 000103,Distributor,2018-05-31,21,16,213,16,1,0.050,1775.5,781.220
3,SO - 000104,Wholesale,2018-05-31,28,48,107,23,8,0.075,2324.9,1464.687
4,SO - 000105,Distributor,2018-05-31,22,49,111,26,8,0.100,1822.4,1476.144

In [12]:
df_main['Total Sales'] = df_main['Order Quantity'] * df_main['Unit Price']

df_main['Total Costs'] = (df_main['Unit Cost'] + (df_main['Unit Price'] * df_main['Discount Applied'])) * df_main['Order Quantity']

df_main['Total Revenue'] = df_main['Total Sales'] - df_main['Total Costs']

df_main['Gross Margin %'] = (df_main['Total Sales'] - df_main['Total Costs'])/df_main['Total Sales']

In [13]:
df_main.head()

,OrderNumber,Sales Channel,OrderDate,_SalesTeamID,_CustomerID,_StoreID,_ProductID,Order Quantity,Discount Applied,Unit Price,Unit Cost,Total Sales,Total Costs,Total Revenue,Gross Margin %
0,SO - 000101,In-Store,2018-05-31,6,15,259,12,5,0.075,1963.1,1001.181,9815.5,5742.0675,4073.4325,0.415
1,SO - 000102,Online,2018-05-31,14,20,196,27,3,0.075,3939.6,3348.660,11818.8,10932.3900,886.4100,0.075
2,SO - 000103,Distributor,2018-05-31,21,16,213,16,1,0.050,1775.5,781.220,1775.5,869.9950,905.5050,0.510
3,SO - 000104,Wholesale,2018-05-31,28,48,107,23,8,0.075,2324.9,1464.687,18599.2,13112.4360,5486.7640,0.295
4,SO - 000105,Distributor,2018-05-31,22,49,111,26,8,0.100,1822.4,1476.144,14579.2,13267.0720,1312.1280,0.090

In [14]:
df_main = df_main.drop(columns='WarehouseCode')

KeyError: "['WarehouseCode'] not found in axis"

In [20]:
df_main['Total Sales'].sum()

82692726.6